/*Blog Pages*/
  ul[id="posts"]{
    list-style-type: none;
  }

/* menu ??*/
  ul[id="menu"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  .active {
  background-color:#4CAF50;
 }
 
 
}
