/* Conten
 * body - main style
 * Index
 * Ribbon
*/


body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}



/*------ Index ------*/

ul#index{
    list-style-type: none;
  }


/*------ Ribbon ------*/

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li#menu_item {
    float: left;
    border-right:1px solid #0cf;
  }

  li:last-child {
    border-right: none;
  }

  li#menu_item a {
    display: block;
    color:#0cf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
