/* Conten
 * body - main style
 * Menu - 
 * 
*/


body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

/*------ Ribbon ------*/

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0cf;
  }

  li#menu_item {
    float: left;
    border-right:1px solid #0cf;
  }

  li:last-child {
    border-right: none;
  }

  li#menu_item a {
    display: block;
    color:#0cf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
